<h2>Vote cual es el mejor y peor <small> Vengador</small> del UCM</h2>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="card animated fadeIn fast" *ngFor="let vengador of vengadores; let i= index">
  <div class="col">
    <div class="card">
      <img class="card-img-top" [src]="vengador.img" [alt]="vengador.nombre">
      <div class="card-body">
        <h4 class="card-title">{{vengador.nombre}}</h4>
        <p class="card-text"><small class="text-muted">{{vengador.alias}}</small></p>
        <p class="card-text"><small class="text-muted">{{vengador.especie}}</small></p>
        <p class="card-text"><small class="text-muted">{{vengador.nacionalidad}}</small></p>
        <p class="card-text"><small class="text-muted">{{vengador.fecha_nacimiento}}</small></p>
        <p class="card-text">{{vengador.frase}}</p></div>
    </div>
    <div class="card-footer">
      <div class="d-grid gap-2">
        <button  (click)="setLike(i)" type="button" class="btn btn-outline-success">me gusta</button>
        <p class="card-text"><small class="text-muted">likes: {{vengador.like}}</small></p>
        <hr>
        <button  (click)="setDislike(i)" type="button" class="btn btn-outline-danger">no me gusta</button>
        <p class="card-text"><small class="text-muted">Dislikes: {{vengador.dislike}}</small></p>
      </div>
    </div>
  </div>
  </div>
</div>
